<?php

$GLOBALS['config'] = array(
	'logging' => array(
		'directory' => __DIR__ . '/../app-logs',
	),
	'db' => array(
		'dsn' => 'sqlite:'.__DIR__.'/../db/sauf.db',
	),
	'oauth' => array(
		'dlfp' => array(
			'app_id' => '',
			'app_secret' => '',
			'server' => 'https://alpha.linuxfr.org',
			'secret' => 'random string',
		),
	),
	'contact' => '<a href="mailto:see@sauf.ca">contact</a>',
	'title' => 'Sauf.ça',
	'show_links' => true,
	'upload' => array(
		'directory' => dirname(__FILE__)."/../pictures",
		'max_size' => 50*1024*1024,
	),
	'autotagging' => array(
		'imagga-auth' => 'IMAGGATOKEN',
	),
	'phantomjs' => '/usr/bin/phantomjs',
);
