<?php

$GLOBALS['config'] = array(
	'db' => array(
		'host' => 'localhost',
		'database' => 'sauf',
		'user' => 'root',
		'password' => '',
	),
	'oauth' => array(
		'dlfp' => array(
			'app_id' => '',
			'app_secret' => '',
			'server' => 'https://alpha.linuxfr.org',
			'secret' => 'random string',
		),
	),
	'contact' => '<a href="mailto:see@sauf.ca">contact</a>',
);
